/*  ============= WEB BROWSER RESETS ============ */
* {
    margin: 0;
    padding: 0;
    border: none
}

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    height: 100%;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 20px
}

body {
    line-height: 1.5;
    min-height: 100vh
}

img {
    width: 100%;
    height: auto
}

@media (max-width: 767px) {
    body {
        text-rendering: optimizeSpeed
    }
}

@media (min-width: 768px) {
    body {
        text-rendering: optimizeLegibility
    }
}


/* ============ CUSTOM PROPERTIES ============  */

:root {

    /* Alternatives to default sans-serif font */
    --font-sans: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

    /* Alternatives to default serif font */
    --font-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

    /* Alternatives to default monospace font */
    --font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* Fluid font size scale */
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(5rem, 4.8vi + 2.8rem, 8rem);

}

/*  ============== LAYOUT FOR CONTENT CONTAINERS ================= */

nav,
header,
section,
footer {
    position: relative;
    display: block
}

header,
section,
footer {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden
}

/* Under last content item, zero the bottom margin */
section>*:last-child {
    margin-bottom: 0 !important
}

/*  ====================== HEADER ======================== */

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Padding around content: laptops / desktops  */
@media (min-width: 768px) {
    header {
        padding-top: 3%;
        padding-right: 20%;
        padding-bottom: 0%;
        padding-left: 20%;
    }
}

/* Padding around content: mobiles */
@media (max-width: 767px) {
    header {
        padding-top: 5%;
        padding-right: 5%;
        padding-bottom: 0%;
        padding-left: 5%
    }
}

/*  ====================== SECTIONS ======================== */

/* Padding around content: laptops / desktops */
@media (min-width: 768px) {
    section {
        padding-top: 4%;
        padding-right: 20%;
        padding-bottom: 4%;
        padding-left: 20%
    }
}

/* Padding around content: mobiles */
@media (max-width: 767px) {
    section {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-left: 5%
    }
}

/* Maximum width of any section */
section {
    max-width: 1920px
}

/* Maximum width for contents of any section */
section>* {
    max-width: 1600px
}

/* When content width < viewport width, equalise spacing at left and right */
section>* {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

}

main section {
    margin-top: -20px;
}

/* ============= TYPOGRAPHY ============ */

body {
    background-color: #5D688A;
}

h1 {
    font-size: var(--fs-xxxl);
    line-height: 2;
    font-family: var(--font-serif);
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
    color: #f7d8d8;
    text-shadow: #0e0731 1px 1px 2px;
}

h2 {
    font-size: var(--fs-xxl);
    line-height: 1.2;
    margin-top: 42px;
    margin-bottom: 20px;
    font-family: var(--font-serif);
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #f7d8d8;
    text-shadow: #0e0731 1px 1px 2px;
}

h3 {
    font-size: var(--fs-xl);
    margin-top: 48px;
    margin-bottom: 8px;
    line-height: 1.2;
    font-family: var(--font-serif);
    text-transform: uppercase;
    text-align: center;
    color: #F7CAC9;
    text-shadow: #0e0731 1px 1px 2px;
}

.down-arrow img {
    width: 60px;
    height: auto;
    display: block;
    margin: 20px auto;
    animation: bounce 2s ease-in-out infinite;
}

.down-arrow {
    text-align: center;
}


p {
    font-size: var(--fs-md);
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: center;
    color: #f7f7f7;
    font-weight: bold;
    text-shadow: #0e0731 1px 1px 2px;
}

a {
    font-size: var(--fs-md);
    font-family: Verdana;
    color: #FFACAC;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #0e0731 1px 1px 2px;
}

.hero-text-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    transform: translateY(-60px);
}

.hero-bg-media * {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.hero-bg-media img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-bg-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-bg-media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


.bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(29, 38, 113, 0.7), rgba(195, 55, 100, 0.3));
    z-index: 1;
}


.slide-in-top {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-6 15:25:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@keyframes slide-in-top {
    0% {
        transform: translateY(-2000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-6 15:27:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
    0% {
        transform: translateX(-2000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.brand  {
    width: 1px;
    height: 10px;
}