/* ============== Do not delete this ========== */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }


/* =============== Add your custom CSS below =========== */
.section-selector-1 { background-color: var(--trend-200) }
.section-selector-1 .badge { background-color: var(--purple-700) }
.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--pink-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { color: var(--pink-700) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { border-color: var(--pink-700) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--pink-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active { background-color: var(--pink-500) }

.section-selector-1 .container-btn a.btn:nth-child(2):link,
.section-selector-1 .container-btn a.btn:nth-child(2):visited { color: var(--white-000) }

.section-selector-1 .container-btn a.btn:nth-child(2):focus,
.section-selector-1 .container-btn a.btn:nth-child(2):hover,
.section-selector-1 a.btn:nth-child(2):active { color: var(--white-000) }

.section-selector-1 .container-btn a.btn:nth-child(2):link,
.section-selector-1 .container-btn a.btn:nth-child(2):visited { background-color: var(--pink-700) }

.section-selector-1 .container-btn a.btn:nth-child(2):focus,
.section-selector-1 .container-btn a.btn:nth-child(2):hover,
.section-selector-1 .container-btn a.btn:nth-child(2):active { background-color: var(--pink-500) }

.section-selector-1 .container-btn a.btn:nth-child(2):link,
.section-selector-1 .container-btn a.btn:nth-child(2):visited { border-color: var(--pink-700) }

.section-selector-1 .container-btn a.btn:nth-child(2):focus,
.section-selector-1 .container-btn a.btn:nth-child(2):hover,
.section-selector-1 a.btn:nth-child(2):active .container-btn { border-color: var(--pink-500) }

header h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: -4px;
    font-weight: 400;
}